//- Index.pug
<!DOCTYPE html>
html
    head
        title New!
form(action="/addData", method="POST")
  | Name: 
  input(type="text" name="name" value="Fylyp" required)
  br
  br
  | Dayofweek: 
  input(type="text" name="dayofweek" value="4" required)
  br
  br
  | TimeStart: 
  input(type="text" name="timestart" value="2014-02-14" required)
  br
  br
  | TimeEnd:
  input(type="text" name="timeend" value="2014-02-17" required)
  br
  br
  |
  input(type="submit", value="Send",data-transition='fade', data-theme='c')